body {
    background-color: #A9A9A9;
    font-size: 32px;
}

h1{
    text-align: center;
    color: #FAFAD2;
}

li{
    list-style-type:none;
    text-align: center;
}

li>a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

li:last-child>a{
    text-decoration: underline;
}

a.current{
    background-color: #D3D3D3;
}

footer{
    text-align: center;
}

section article footer{
    font-size: 0.75em;
    text-align: left;
}

p>a{
    text-decoration: none;
    color: black;
}